* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#fcc7a7, #5c0409 200px);
  background-repeat: no-repeat;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  color: #a6181e;
}

a:hover {
  color: #f83632;
  text-shadow: 2px 2px 2px gray;
}

.current {
  color: #f83632;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  background-image: url("/img/네비바.png");
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Black Han Sans", sans-serif;
}

header > nav {
  width: 100%;
  height: 100%;
  display: flex;
}

header ul {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-left: 0px;
  padding-top: 14px;
}

.goe {
  font-size: 42px;
}

header ul > li {
  font-size: 28px;
  height: 100%;
  display: flex;
  align-items: center;
}

.bulb img {
  width: 100%;
  display: block;
}

.search {
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 변경: 세로 중앙 정렬 */
  align-items: center; /* 변경: 가로 중앙 정렬 */
  background-image: url("/img/검색창.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 2%;
}

.search p,
.search input {
  margin: 0; /* 기본 마진 제거 */
}

.search p {
  font-size: 50px;
  color: #271e19;
  font-weight: bold;
  font-family: "Black Han Sans", sans-serif;
}

.search-form {
  width: 40%;
  height: 50px;
}

#input {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  font-size: 20px;
  margin-top: 10px;
}

#btn {
  position: absolute;
  height: 57px;
  width: auto;
  left: calc(70%); /* 가로 중앙 정렬 (버튼 너비의 절반을 뺌) */
  transform: translateY(-150%); /* 세로 중앙 정렬을 위한 변형 */
  background-color: transparent;
  border: none;
}

#btn img {
  position: absolute;
  height: 60px;
  width: auto;
  right: 30%;
}

#btn:hover {
  cursor: pointer;
}

.container {
  display: flex;
  position: center;
  margin: auto;
}

.cards {
  justify-content: center;
  width: 100%;
  margin: 3% auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 258px);
  grid-column-gap: 2%;
}

.movie {
  display: grid;
  text-align: center;
  border: none;
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  background-color: white;
}

.movie:hover {
  box-shadow: 0 3px 15px rgb(253, 234, 128);
  cursor: pointer;
}

.clone {
  display: grid;
  text-align: center;
  place-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: none;
  margin-bottom: 16px;
  overflow: hidden;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
}

.movie img {
  width: 100%;
  height: 370px;
}

.movie h2 {
  font-size: 15px;
  margin-bottom: 8px;
}

.movie p {
  font-size: 12px;
  margin-bottom: 8px;
  padding: 0 5% 0 5%;
  max-width: calc(100%-38px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.foot {
  height: 120px;
  background-color: #271e19;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.footContents {
  width: 1000px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.logo {
  height: 110px;
  width: auto;
}

.teamName {
  color: rgb(197, 197, 197);
}

.icons img {
  height: 50px;
  width: auto;
}

.icon1 img {
  filter: invert(100%);
}

.icon2 img {
  border-radius: 9px;
}

.moveTopBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
}

.moveTopBtn img {
  width: 50px;
  height: auto;
}

.moveTopBtn:hover {
  filter: invert(100%);
}

@media screen and (max-width: 820px) {
  header ul {
    width: 96%;
  }
  .container {
    width: 95%;
  }
  .footContents {
    width: 80%;
  }
}
@media screen and (max-width: 667px) {
  .container {
    width: 55%;
  }
  .goe {
    font-size: 35px;
  }
  header ul {
    width: 96%;
  }
  header ul > li {
    font-size: 24px;
  }
  .search p {
    font-size: 45px;
  }

  .search-form {
    width: 80vw;
  }
  #input {
    height: 80%;
    font-size: 15px;
  }
  #btn img {
    left: 7vw;
    top: 62%;
  }

  .moveTopBtn {
    bottom: 0rem;
    right: 1rem;
    width: 2rem;
    height: 3rem;
  }

  .moveTopBtn img {
    width: 40px;
    height: auto;
  }
}
@media screen and (max-width: 540px) {
  .container {
    width: 55%;
  }
  .goe {
    font-size: 30px;
  }
  header ul {
    width: 96%;
  }
  header ul > li {
    font-size: 18px;
  }
  .search p {
    font-size: 25px;
  }

  .search-form {
    width: 80vw;
  }
  #input {
    height: 80%;
    font-size: 15px;
  }
  #btn img {
    left: 7vw;
    top: 62%;
  }

  .moveTopBtn {
    bottom: 0rem;
    right: 1rem;
    width: 2rem;
    height: 3rem;
  }

  .moveTopBtn img {
    width: 40px;
    height: auto;
  }
}
@media screen and (max-width: 414px) {
  .container {
    width: 55%;
  }
  .goe {
    font-size: 24px;
  }
  header ul {
    width: 98%;
  }
  header ul > li {
    font-size: 16px;
  }
  .search p {
    font-size: 25px;
  }

  .search-form {
    width: 80vw;
  }
  #input {
    height: 80%;
    font-size: 15px;
  }
  #btn img {
    left: 7vw;
    top: 62%;
  }

  .moveTopBtn {
    bottom: 0rem;
    right: 1rem;
    width: 2rem;
    height: 3rem;
  }

  .moveTopBtn img {
    width: 40px;
    height: auto;
  }
}

@media screen and (max-width: 393px) {
  .container {
    width: 55%;
  }
  .goe {
    font-size: 22px;
  }
  header ul {
    width: 98%;
  }
  header ul > li {
    font-size: 15px;
  }
  .search p {
    font-size: 25px;
  }

  .search-form {
    width: 80vw;
  }
  #input {
    height: 80%;
    font-size: 15px;
  }
  #btn img {
    left: 7vw;
    top: 62%;
  }

  .moveTopBtn {
    bottom: 0rem;
    right: 1rem;
    width: 2rem;
    height: 3rem;
  }

  .moveTopBtn img {
    width: 40px;
    height: auto;
  }
}
