body {
  background-color: antiquewhite;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: white;
  font-family: 'Black Han Sans', sans-serif;
}

header > nav {
  width: 100%;
  height: 100%;
  display: flex;
}

header ul {
  width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-left: 0px;
}

header ul > li {
  font-size: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.cards {
  width: 1100px;
  height: auto;
  margin: 3% auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2%;
}

.movie {
  padding-bottom: 5%;
  display: grid;
  /* grid-template-rows: 50% 15% 20% 10% 5%; */
  text-align: center;
  place-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: none;
  margin-bottom: 16px;
  overflow: hidden;
}

.movie img {
  width: 100%;
  height: 370px;
  margin-bottom: 8px;
}

.movie h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.movie p {
  margin-bottom: 8px;
  width: calc(180px - 1em);
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em;
  margin-right: -1em;
  padding-right: 1em;
}

.movie p:before {
  /* content: '...'; */
  position: absolute;
  right: 0;
  bottom: 0;
}

.movie p:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1e7m;
  margin-top: 0.2em;
  background: white;
}
